body {
    display: flex;
    flex-wrap: wrap;
}
/* header */
.header {
    color: #fff;
    background-color: #768BA6;
    width: 100%;
    border-bottom: 2px solid #e0e0e0;
}   
.header h1{
    font-size: 32px;
    font-weight: 900;
    vertical-align: top;
    margin: 50px 40px;
    color: white;
    border-bottom: 2px solid white;
    text-shadow: 1px 1px 2px darkblue;
}

.list-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 24px;
    margin: 30px 40px 20px;
}
.list-menu a {
    font-weight: 900;
    color:#fff;
    text-shadow: 1px 1px 2px darkblue;
}
.list-menu a:hover {
    text-shadow: 1px 1px 2px yellow;
}

/* section */
.cont-info {
    width: 70%;
    box-sizing: border-box;
}
.cont-info h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    background-color: steelblue;
    color: white;
    
}

.cont-info .list-info a {
    display: block;
    padding: 10px 0 20px 15px;
    border-bottom: 2px solid #e0e0e0;
    width: 100%;
    height: 150px; 
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
}

/* aside */
.cont-sns {
    width: 30%;
    border-bottom: 2px double #e0e0e0;
    border-left: 2px double #e0e0e0;
    box-sizing: border-box;

}
.cont-sns h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    background-color: #A69E32;
}

.cont-sns .list-sns a{
    padding: 20px 10px;
    display: flex;
}
.cont-sns .list-sns p {
    font-size: 20px;
    padding-left: 10px;
}
.cont-sns .list-sns .fab, .cont-sns .list-sns .fas  {
    font-size: 24px;
    padding-left: 10px;
}



/* footer */
.footer {
    background-color:#768BA6;
    color: #fff;
    width: 100%;
}
.footer h2 {
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 10px;
}

.footer a {
    display: block;
    margin: 15px 20px 0;
    color: #fff;
}